/* band.css */

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('img/header.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}



.jumbotron-heading {
  font-weight: 300;
  color:#1e1e1e;
}

.jumbotron .container {
  max-width: 40rem;
  padding:2rem;
  
}

body > section {
  margin-bottom:100px !important;
}

.container #main {
  font-weight:600 !important;
  font-size:20px;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  width:100%;
  height:275px;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}